* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #eef3ff;
}

.app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 20px;
}

h1 {
  font-size: 48px;
  color: #1f2937;
}

p {
  color: #6b7280;
  font-size: 18px;
}